.leaderboard {
    display: flex;
    flex-direction: column; 
    padding: 10px 20px;
    height: auto;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    border-radius: 10px;
    background-color: var(--color-white);
}
.rank-list td,.rank-list th{
    padding: 0;
    border: none;
    text-align: center;
}
.rank-list table {
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
}
.rank-list td:nth-child(1),.rank-list th:nth-child(1){
    width: 10%;
}
.leaderboard table tbody tr td:first-child {
    color: black;
    font-weight: normal;
    font-size: 12px;
}
.rank-list td:nth-child(1),.rank-list th:nth-child(1){
    width: 70px;
}
.rank-list td:nth-child(2),.rank-list th:nth-child(2){
    text-align: left;
    padding: 0 10px;
}
.rank-list td:nth-child(3),.rank-list th:nth-child(3){
    text-align: center;
    width: 120px;
}
.rank-list td:nth-child(4),.rank-list th:nth-child(4){
    text-align: right;
    padding-right: 12px;
    width: 120px;
}

.leaderboard .item span.qty{
    text-align: center;
}
.leaderboard .header, .leaderboard .item {
    display: flex; 
    justify-content: space-between; 
    padding: 10px 0; 
    border-radius: var(--border-radius-1);
}

.leaderboard .header span, .leaderboard .item span {
    flex-basis: 0;   /* 默认宽度为 0 */
    flex-grow: 1;    /* 均匀分配剩余空间 */
    padding: 0 10px; /* 添加一些填充以创建间距 */
    box-sizing: border-box; /* 使填充不增加元素的总宽度 */
    text-align: left; /* 左对齐文本 */
    
}

.leaderboard .header span.rank, .leaderboard .item span.rank {
    font-weight: bold;
    flex: 0.5; /* 指定 rank 列的 flex 值为 0.5 */
}
.leaderboard .item:not(.header):hover {
    background: var(--color-light);
}

.leaderboard .item  {
    font-size: 1rem;
}

.leaderboard .header span.name, .leaderboard .item span.name {
    flex: 2; /* 为名称分配更多的空间 */
}

.leaderboard .item span.name {
    word-wrap: break-word; 
    font-size: 90%;
}

.leaderboard .header {
    font-weight: bold; /* 例如，使字体加粗 */
    background-color: #eee; /* 例如，添加背景颜色 */
    /* 你可以根据需求进一步自定义样式 */
}

