:root{
    --color-primary:#7380ec;
    --color-light:rgba(132, 139, 200, 0.18);
    --color-dark:#363949;
    --color-white:#fff;
    --color-info-dark:#7d8da1;
    --color-info-light:#dce1eb;
    --color-primary-varient:#111e88;
    --color-danger:#ff7782;
    --color-success:#41f1b6;
    --color-warning:#ffbb55;
    --color-dark-varient:#677483;


    --color-background:#f6f6f9;

    --card-border-radis:2rem;
    --border-radius-1:0.4rem;
    --border-radius-2:0.8rem;
    --border-radius-3:1.2rem;

    --card-padding:1.8rem;
    --padding-1:1.2rem;

    --box-shadow:0 2rem 3rem var(--color-info-light);

}

.dark-theme-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-varient: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

// html{
//     font-size: 0.95vw;
// }
// body{
//     width: 100vm;
//     height: 100vh;
//     font-family: poppins,sans-serif;
//     font-size: 0.88rem;
//     background-color: var(--color-background);
//     user-select: none;
//     overflow-x: hidden;
// }

// .container{
//     display: grid;
//     width:96%;
//     margin: 0 auto;
//     gap:1.8rem;
//     grid-template-columns: 46% auto 35%;
// }
// .right {
//     grid-column: 3;  /* 这会让 .right 出现在第三列 */
// }

// a{
//     color:var(--color-dark);
// }
// img{
//     display: block;
//     width: 100%;
// }
h1{
    font-weight: 800;
    font-size: 1.8rem;
    color: var(--color-dark);
}
h2{
    font-size: 1.4rem;
    color: var(--color-dark);
}
h3{
    font-size: 0.87rem;
    color: var(--color-dark);
}
h4{
    font-size: 0.8rem;
    color: var(--color-dark);
}
h5{
    font-size: 0.77rem;
    color: var(--color-dark);
}
small{
    font-size: 0.75rem;
    color: var(--color-dark);
}
.text-muted{
    color: var(--color-info-dark);
}
p{
    color: var(--color-dark-varient);
}
b{
    color: var(--color-dark);
}

.primary{
    color: var(--color-primary);
}
.danger{
    color: var(--color-danger);
}
.success{
    color: var(--color-success);
}
.warning{
    color: var(--color-warning);
}


aside{
    height: 100vh;
    // position: fixed;  /* 设定为固定位置 */
    top: 0;           /* 距离屏幕顶部 0 像素 */
    left: 0;          /* 距离屏幕左侧 0 像素 */
}

aside .top{ 
    /* background:white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo{
    display: flex;
    gap:0.8rem;
    
}
aside .close{
    display: none;
} 

aside .sidebar{
    /* background: white; */
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top:3rem;
} 
aside h3{
    font-weight: 500;
}

aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap:1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 0.3s ease;
}

aside .sidebar a span{
    font-size: 1.6vw;
    transition: all 0.3s ease;
}
/* aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
} */

aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;

}
aside .sidebar a.active::before{
    content: "";
    height: 100%;
    width: 6px;
    background: var(--color-primary);
}
aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}
aside .sidebar a:hover span{
    margin-left: 1rem;
}

aside .sidebar .message-count{
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size:11vw;
    border-radius: var(--border-radius-1);
}

.wrap-text h3 {
    max-width: 100px;  /* 或者其他合适的宽度 */
    white-space: normal;
}
main{
    // margin-top: 2.4rem;
    margin-left: 2.2rem;
    margin-right: 3rem;
    width: 85%;  /* 或者使用一个固定的宽度，比如 800px */
    margin-bottom: 2rem;

}
main .date{
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 2rem;
    margin-right: 1rem;
    padding: 0.8rem 1.4rem;
}
main .date input[type="date"]{
    background: transparent;
    color: var(--color-dark);
    font-size: 1vw ;
}

/*=====store list=====*/
main .store-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.6rem;
}
main .store-list > div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radis);
    box-shadow: var(--box-shadow);
    margin-top: 1rem;
    text-align: center;
    transition: all 0.3s ease;
}

main .store-list > div:hover{
    box-shadow: none;
}

main .store-list > div span {
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 1.2rem;
    margin-right: 1rem;
}

main .store-list h3{
    
    font-size: 1rem;
}
main .store-list .middle{
    margin-top: 15px;
}
main .store-list > div .left{
    margin-bottom: 1rem;
}
//调table行间距
main .store-list > div .left  >div{
    
    padding: 8px 12px;
}





/*=====check store button=====*/
.check-store-list {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;  /* 按钮之间的间距 */
  }
  
  .store-button {
    white-space: nowrap;  /* 防止按钮内文字换行 */
  }
  

/* Ripple effect */
.ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  }
  .ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  }
  
  /* Button style */
.ripple {
    display: block;
    margin-top: 6px;
    margin-bottom: 10px;
    font-weight: bold;
    border-radius: 2px;
    padding: 12px 18px;
    font-size: 1vw;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #61b3f7;
    box-shadow: 0 0 4px #999;
    outline: none;
    border-radius: var(--border-radius-1);
}
.store-button {
    display: block;
    margin-top: 6px;
    margin-bottom: 10px;
    font-weight: bold;
    border-radius: 2px;
    padding: 12px 18px;
    font-size: 1vw;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #61b3f7;
    box-shadow: 0 0 4px #999;
    outline: none;
    border-radius: var(--border-radius-1);
}


.daily-report{
    margin-top: 2rem;
    white-space: nowrap;
}

.daily-report h2{
    margin-bottom: 0.8em;
}
main .daily-report table{
    margin-top: 1.4rem;
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radis);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

main .daily-report table:hover{
    box-shadow: none;
}

main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-varient);
}
table {
    border-collapse: separate; /* 使用 separate 模式，允许设置边距 */
    border-spacing: 0 20px; /* 设置上下间距为20px */
}

main table td:first-child {
    font-size: 1vw;
    font-weight: bold;
}
table tbody tr:first-child td:first-child,
  table tbody tr:nth-child(2) td:first-child {
    
    color: rgba(236, 157, 39, 0.818); 
}

table tbody tr:nth-child(3) td:first-child,
  table tbody tr:nth-child(4) td:first-child {
    color: var(--color-danger);
  }

.rank-list td{
    color: #000;
}
.custom-font-size {
    font-size: 1.05rem;  /* 你可以设置任何你想要的字体大小 */
    text-align: right;
    padding-right: 20px;
}

main table thead th{
    text-align: centre;
    padding-left: 1.2rem;
}

main table tbody tr:last-child td{
    border: none;
}


table:not(.sales-analysis-table):not(.sales-analysis-gp-table) tbody tr:hover {
    background: var(--color-light);
}

.middle .row:hover{
    background: var(--color-light);
}


main table tbody td.left-align {
    text-align: left;
    padding-left: 4rem;
}

main .daily-report a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}


.header{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
   
}
.header button{
    display: none;
}

// .right .theme-toggler{
//     background: var(--color-light);
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     height:  1.6rem;
//     width: 4.2rem; 
//     cursor: pointer;
//     border-radius: var(--border-radius-1);
// }

// .right .theme-toggler span{
//     font-size: 1.2rem;
//     width: 50%;
//     height: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .right .theme-toggler span.active{
//     background: var(--color-primary);
//     color: var(--color-white);
//     border-radius: var(--border-radius-1);
// }
// .header .top{
//     position: fixed;
//     top: 0;
//     left: 0;
//     align-items: center;
//     padding: 0 0.8rem;
//     height: 4.6rem;
//     background: var(--color-white);
//     width: 100%;
//     margin: 0;
//     z-index: 2;
//     box-shadow: 0 1rem 1rem var(--color-light);
// }
// .content{
//     margin-top: 5rem;
// }


.header .profile{
    display: flex;
    gap: 2rem;
    text-align: right;  
    align-items: center;
}
.profile-photo img {
    width: 2.2rem;  /* 宽度 */
    height: 2.2rem; /* 高度 */
    border-radius: var(--border-radius-1); /* 圆角 */
    display: block;
}

// /*==============Rank=================*/
.right .rank{ 
    margin-top: 3rem;
}
.right .rank h2{
    margin-bottom: 0.8em;
}



main table tbody td.left-align {
    color:#000
}

// /*======payment-summary========*/
.right .payment-summary{
    margin-top: 3rem;
}
.right .payment-summary .cash-section{
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1.1rem;

    margin-bottom: 0.7rem;
    margin-top: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}
.right .payment-summary .non-cash-section{
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;

    margin-bottom: 0.7rem;
    margin-top: 0.7rem;
    padding: 20px;
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

.right .payment-summary .cash-section:hover{
    box-shadow: none;
}
.right .payment-summary .non-cash-section:hover{
    box-shadow: none;
}

.cash-section .icon{
    padding: 0.6rem;
    color: var(--color-white);
    border-radius:50%;
    background: var(--color-primary);
    display: flex;
}
// /* 确保 .cash-item 是一个 flex 容器 */
.cash-section .cash-item {
    display: flex;
    align-items: center;
    gap: 3rem;  /* 如果需要，可以设置间距 */
    margin-left: 0.9rem;  /* 为了与图标保持一致，我们添加了一些左边距 */
  }
  .non-cash-container{
    display: flex;
    margin-left: 0.9rem;  /* 为了与图标保持一致，我们添加了一些左边距 */
    flex-direction: column;
    margin: 0.5rem 0.5rem 0.5rem 0.1rem; /*上右下左*/
    width: 100%;
  }


  
  /* 阻止换行 */
  .cash-section .cash-item h3, .cash-section .cash-item .cash-amount {
    white-space: nowrap;
  }
  
.non-cash-section .icon{
    padding: 0.6rem;
    color: var(--color-white);
    border-radius:50%;
    background: var(--color-warning);
    display: flex;
}
.non-cash-section .icon .material-icons-sharp{
    width: 24px;
    height: 24px;
}
/* 确保 .cash-item 是一个 flex 容器 */
.non-cash-container .non-cash-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
  }
  .non-cash-container .non-cash-row:hover{
    background: var(--color-light);
  } 
  

// /* 为表格添加样式 */
// // .non-cash-section table {
// //     border-collapse: separate;
// //     border-spacing: 1rem 1rem;  /* 添加列间隙 */
// //   }

// // /* 移除特定颜色 */
// // .non-cash-section table tbody tr:first-child td:first-child,
// // .non-cash-section tbody tr:nth-child(2) td:first-child,
// // .non-cash-section tbody tr:nth-child(3) td:first-child,
// // .non-cash-section tbody tr:nth-child(4) td:first-child {
// // color: inherit;  /* 重置颜色 */
// // }
  
// /* 使 cash amount 右对齐 */
// .cash-section .cash-item .cash-amount {
//     text-align: right;
//     padding-left: 10.3rem;
//     // margin-left: auto;  /* 如果在 flex 容器中，这会推动它向右边 */
//   }
//   .non-cash-container .non-cash-amount {
//     text-align: right;
//     padding: 0 0.3rem 0 4.9rem;
//     // margin-left: auto;  /* 如果在 flex 容器中，这会推动它向右边 */
//   }

  
 
//   /* 使表格第二列右对齐 */
// .non-cash-section table tbody td:last-child {
//     padding-left: 7rem;
//     text-align: right;
// }
// main .top.show{
//     display: none !important;
//     opacity: 0  !important;
// }

// @media screen and (max-width:800px){
    @media screen and (min-width: 375px) and (-webkit-device-pixel-ratio: 3) {


    // .container, main, .right {
    //     width: 100%;
    //     max-width: 100%;
    // }

    // main .daily-report table, .right .payment-summary .cash-section {
    //     width: 100%;
    //     max-width: 100%;
    //     overflow-x: auto;
    // }

    // /* 其他字体大小调整 */
    // main table tbody td.left-align, .custom-font-size {
    //     font-size: 14px; 
    // }

//     .container{
//        display: flex;
//        flex-wrap: wrap;
//     }
// main{
//     min-width: 280px;
//     margin-left: 5.5rem;
// }
// .main .daily-report table{
// width: 280px;
// }
// main .daily-report{
//     white-space: none!important;
//     }
//     .right .payment-summary .cash-section {
//         width: 260px !important;
//     }
//     .white-table{
//         white-space: none;
//         }


// .analyze-table{
//     margin-top: 2.5rem;
// }


// .cash-section .cash-item
// {
//     gap: 0;
//     margin-left: 0
// }
// .table tbody tr{
//     font-size: 10px;
// }
// main .daily-report table{
//     padding: 0;
// }
// .ripple{
//     font-size: 20px;
//     margin-top: 1rem;
//     display: block;
// }
// .info {
//     float: left;
// }
// .profile-photo {
//     float: right;
// }
// main table tbody td.left-align {
//     font-size: 17px;
// }
// .custom-font-size {
//     font-size: 17px;  /* 你可以设置任何你想要的字体大小 */
// }


// // .-table{
// //     margin-left: 1rem;
// // }

// main .date input[type="date"]{
   
//     font-size: 20px ;
// }
// main .store-list .store-button{
//     font-size: 10px;
// }
// .right{
//     margin: -2rem 0 0 7rem;
//     width: 100%;
//     min-width: 280px;
// }

// main .top.show{
//     display: block !important;
//     opacity: 1  !important;  
//     margin-bottom: 3.5rem; 
// }

// .right .top.show2{
//         display: none !important;
//         opacity: 0  !important;
//     } 

// .right .rank{

//     margin-top: -1rem;
// }
}

// /*====BranchSales====*/
// .right .branch-summary{
//     margin-top: 3rem;
// }
// .right .branch-summary .branch-section{
//     background: var(--color-white);
//     display: flex;
//     align-items: center;
//     gap: 1rem;
//     margin-bottom: 0.7rem;
//     margin-top: 0.7rem;
//     padding: 1.4rem var(--card-padding);
//     border-radius: var(--border-radius-3);
//     box-shadow: var(--box-shadow);
//     transition: all 0.3s ease;
// }
// .right .branch-summary .branch-section:hover{
//     box-shadow: none;
// }
// .branch-section .icon{
//     padding: 0.65rem;
//     color: var(--color-white);
//     border-radius:50%;
//     background: var(--color-danger);
//     display: flex;
//     width: 2.7rem;
//     height: 2.7rem;
// }
// .branch-section table tbody td:last-child {
//     padding-left: 6.5rem;
//     text-align: right;
// }
// .store-names{
//     margin-top: 1rem;
    
// }

// /* 移除特定颜色 */
// .branch-section  table tbody tr:first-child td:first-child,
// .branch-section  tbody tr:nth-child(2) td:first-child,
// .branch-section  tbody tr:nth-child(3) td:first-child,
// .branch-section  tbody tr:nth-child(4) td:first-child {
// color: inherit;  /* 重置颜色 */
// }
// /* 为表格添加样式 */
// .branch-section table {
//     border-collapse: separate;
//     border-spacing: 1rem 1rem;  /* 添加列间隙 */
// }

  
//   @media (max-width: 768px) {
//     html {
//       font-size: 14px;  /* 当视口宽度小于或等于 600px 时，字体大小不会小于 12px */
//     }
//   }
  
// //   /* 设置最大字体大小 */
// //   @media (min-width: 1200px) {
// //     p {
// //       font-size: 24px;  /* 当视口宽度大于或等于 1200px 时，字体大小不会大于 24px */
// //     }
// //   }

// // /* Media Queries */
// //  @media screen and (max-width: 1200px){
// //     .container{
// //         width: 94%;
// //         grid-template-columns: 7rem auto 23rem;
// //     }
// //     aside .logo h2{
// //         display: none;
// //     }
// //     aside .sidebar h3{
// //         display: none;
// //     }
// //     aside .sidebar a{
// //         width: 5.6rem;
// //     }
// //     aside .sidebar a:last-child{
// //         position: relative;
// //         margin-top: 1.8rem;
// //     }

// //     main .daily-report{
// //         width: 94%;
// //         position: absolute;
// //         left: 50%;
// //         transform: translateX(-50%);
// //         margin: 2rem 0 0 8.8rem;
// //     }
// //     main .daily-report table{
// //         width: 84%;
// //     }
  
// // }
@media screen and (max-width:935px){

    .container{
        width:100%;
    }
    // //hide
    // .header{
    //     width: 100%;
    // }
    // aside{
    //     display: none;
    // }
    .header{
        margin-left: 0;
        width: 100%;

    }
    .header button{
        display: inline;
    }
    .content{
        width: 100%;
    } ;
    aside{
        position:fixed;
        left:0;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
    }

    
    aside .logo{
        margin-left: 1rem;
    }
    aside .logo h2{
        display: inline;
    }
    aside .sidebar h3{
        display: inline;
    }
    aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }
    aside .sidebar a:last-child{
        position: absolute;
        bottom: 5rem;
    }
    aside .close{
        display:inline-block;
        cursor: pointer;

    }
} 
    
html,body{
    overflow-x: hidden;
    overflow-y: hidden;
}
/* 基础样式，适用于桌面端 */
.container {
    display: flex;
  }
  
  .sider {
    /* 你的侧边栏样式 */
     flex: 0 0 auto;
  }
  .sider>aside{
    width: 200px;
  }
  .content{
    height: calc(100vh - 56px);
    overflow: auto;
  }
  
  .main-layout {
    width: 100%;
  }
  
  .header {
    margin-top: 1rem;
    margin-right: 0;
  }
  
  .content {
    flex: 1;
  }
  
  .main-content {
    display: flex;
    flex-direction: row;
  }
  
  .left-column {
    flex: 4;
    margin-right: 5rem;
    /* 你的左侧列样式 */
  }
  
  .right-column {
    flex: 3;
    width: 100%;
    margin-top: 1.4rem;
    /* 你的右侧列样式 */
  }
  .right-column .right{
    max-width: 485px;
    margin: auto;
  }
  .left-column .analyze-table{
    max-width: 550px;
    // padding-left: 100px;
  }
 
  
  
  .footer {
    /* 你的底部样式 */
  }
  .zdy-h{
    height: 66px;
    display: none;
  }
  .zdy-t1{
    // margin-top: 30px;
  }
  .main-content.v2{
    width: 100%;
    margin: 0;
    padding: 30px;
  }
  .main-content.v2 .left-column{
    width: 65%;
    margin: 0;
    padding: 0;
  }
  .main-content.v2 .right-column{
    width: 35%;
    margin: 0;
    padding: 0;
  }
  .select-store-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  //515px - 935px

  @media (min-width: 515px) and (max-width: 935px) {
    .left-column .analyze-table {
      max-width: none; 
      padding-left: 130px;
      width: 100%;
      padding-right: 130px;
      
    }
    main .daily-report table {
        max-width: 490px;
    }
  }
  
  
  /* 响应式样式，适用于手机端 */
  @media (max-width: 935px) {
    .content{
        height: 100vh;
    }
    .zdy-h{
        height: 66px;
        display: block;
      }
   .right-column{
    margin: 0;
   }
    
    .main-content,.left-column{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .main-content{
        padding: 0 12px;
        box-sizing: border-box;
        display: block;
        overflow-y: hidden;
    }
    .daily-report{
        margin-top: 0;
        white-space: inherit;
    }
    .daily-report table thead th{
        font-size: 16px;
        padding: 0;
        padding: 12px !important;
        word-wrap: inherit;
    white-space: normal;
    }
    .daily-report table tbody td{
        height: auto;
        font-size: 16px;
        padding: 12px !important;
    }
    main .daily-report table{
        padding: 12px;
    }
    main .date input[type=date]{
        font-size: 16px;
    }
    #close-btn{
        display: block !important;
    }
    .header {
        margin-top: 0;
        margin-right: 0;
        background: var(--color-white);
        position: fixed;
        z-index: 9;
        top: 0;
        left: 0;
        right: 0;
        padding: 12px;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 1rem 1rem var(--color-light);
    }


    // position: fixed;
    //     top: 0;
    //     left: 0;
    //     align-items: center;
    //     padding: 0 0.8rem;
    //     height: 4.6rem;
    //     background: var(--color-white);
    //     width: 100%;
    //     margin: 0;
    //     z-index: 2;
    //     box-shadow: 0 1rem 1rem var(--color-light);

    .header button {
        display: inline;
        padding: 0;
        background: no-repeat;
        color: #000;
        box-shadow: none;
        flex: 0 0 auto;
    }
    .sider > aside {
        width: 200px;
        z-index: 1010;
    }

    .ripple{
        font-size: 15px;
        margin-top: 1rem;
        display: block;
    }

    .header .profile{
        gap: 1rem;
    }
    aside{
        background: #f6f6f9;
    }
    .rank-list td,.rank-list th{
        font-size: 12px;
    }
    .leaderboard table tbody tr td:first-child {
        font-size: 11px !important;
    }
    .dropdown{
        width: auto !important;
    }
    .main-content.v2 .right-column{
        width: 100%;
    }
    .main-content.v2 .left-column{
        width: 100%;
    }
    main .store-list {
        grid-template-columns: repeat(1, 1fr);
    }
    .store-button{
        font-size: 15px
    }
    .button{
        font-size: 15px !important;
    }
    .change-pass{
        font-size: 15px !important;
    }
   
  }

