/* 针对具有 'sales-summary-table' 类的表格，清除特定行和单元格的颜色 */
.sales-summary-table tbody tr:first-child td:first-child,
.sales-summary-table tbody tr:nth-child(2) td:first-child {
  color: var(--color-dark-varient);
}
.sales-summary-table tbody tr:nth-child(3) td:first-child, table tbody tr:nth-child(4) td:first-child {
    color: var(--color-dark-varient);
}
.sales-summary-table tbody tr:last-child td:first-child {
    color: rgba(236, 157, 39, 0.818);
    font-size: 18px;
  }
@media screen and (max-width:935px) {
  .date_compare{
    width: 143px;
    height: 30px;
    margin-left: -10px
  }
  
}
