// .admin-container {
//     all: initial !important;
// }
// .search-bar-container {
//     -webkit-appearance: auto;
//     -moz-appearance: auto;
//     appearance: auto;
//     /* 你的其他样式 */
// }
.custom-checkbox-container {
  display: flex;
  align-items: center;
}

.custom-checkbox-input {
  opacity: 0;
  position: absolute;
}

.custom-checkbox-box {
  width: 20px;
  height: 20px;
  border: 2px solid #555;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.custom-checkbox-input:checked + .custom-checkbox-box {
  background-color: #4ea1f0;
}

.custom-checkbox-box:after {
  content: '';
  position: absolute;
  display: none;
}

.custom-checkbox-input:checked + .custom-checkbox-box:after {
  display: block;
  left: 6px;
  top: 2px;
  width: 3px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

  .store {
    position: relative;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 200px;
    width: 60%;
  }
  
  .store-id p, .appid p, .store-name p, .pos p{
    display: block;
    color: black;
    // user-select: text !important; 
  }
  
  .connected-button,
  .disconnected-button {
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    color: white;
  }
  
  .connected-button {
    background-color: green;
  }
  
  .disconnected-button {
    background-color: red;
  }
  
  
  .main-store{
    margin-top: 20px;
  }
  .search-bar{
    margin-left: 200px;
    margin-bottom: 10px;
  }
  // .edit-button {
  //   /* 添加 "Edit" 按钮的样式 */
  // }
  
  // .history-button {
  //   /* 添加 "History" 按钮的样式 */
  // }
  .date.expired {
    color: red;
  }
  
  .date.active {
    color: green;
  }
  
  .date.almost_expired {
    color: rgb(29, 102, 211);;
  }
 /* 模态窗口遮罩层样式 */
/* 模态窗口遮罩层样式 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 模态窗口主体样式 */
.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  // width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  width: auto;
}

/* 让所有 label 元素垂直排列 */
.modal label {
  display: block;
  margin-bottom: 15px;
}

/* 给 input 和 select 控件添加边框 */
.modal input,
.modal select{
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
}

  .admin-title{
    margin-top: 20px;
    margin-left: 200px;
  }
  .add-store-button{
    margin-left: 200px;
  }

  
  .key-list {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 定义两列，每列占用一份可用空间 */
    width: 100%; /* 可根据需要调整 */
    gap: 10px; /* 单元格之间的间距 */
    
  }
  
  .key-list-header,
  .key-list-item {
    display: contents; /* 使其内容作为网格项 */
    user-select: text !important;
  }
  
  // .store-buttons {
  //   display: flex;
  //   justify-content: start;  /* 按钮靠左对齐 */
  // }
  
  // .edit-button, .delete-store-button {
  //   margin-right: 10px;  /* 在每个按钮的右侧添加10px的外边距 */
  // }
  .delete-store-button{
    background-color: #ff7782;
  }
  

  .store-container {
    display: flex;
    justify-content: space-between;
    
  }
  
  .store-buttons {
    align-self: flex-start;  /* 如果你希望按钮与上面的内容对齐 */
    
  }
  .customer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    margin: 5px;
    padding: 10px;
  }
  
  .customer-info {
    flex: 1;
    white-space: nowrap;  /* 防止文本换行 */
    margin-right: 1rem;
  }
  
  .customer-actions {
    display: flex;
    gap: 10px;
  }
  
  .client_btn_container{
    margin-left: 200px;
    display: flex;
    // justify-content: space-between;
  }
  
  .register-button {
    background-color: rgb(115, 194, 115);
    color: white;
    margin-right: 10px;
  }
  
  .customer_list_btn {
    background-color: rgb(115, 194, 115);
    color: white;
  }
  .search-inputs {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
    
    input {
      width: 45%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }
  