.edit-store-form {
    margin-bottom: 20px;
  }
  
  .store-setup{
    margin-top: 3rem;
    margin-left: 10rem;

  }
  .date-picker {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .related-users {
    margin-top: 20px;
  }
  
  .user-box {
    width: 40%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-id {
    margin-right: 10px;
  }
  
  .user-email {
    font-weight: bold;
  }
  
  .delete-button {
    font-size: 11px;
    background-color: #ff4d4f;
    color: #fff;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .delete-button:hover {
    background-color: #ff7875;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
  }
  .search-input, .user-select {
    border: 1px solid #ccc;
    padding: 8px;
    margin: 5px 0;
    border-radius: 4px;
  }
  .edit-store-form label {
    display: block;
    margin-bottom: 15px;
  }
  

  .edit-store-form{
    text-align: left;
    display: block;
  }
  
  .date-picker {
    // padding: 8px !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
  }
  
  
  