.qr-button-section {
  display: flex;
  gap: 10px; // 按钮之间的间隙
  margin-bottom: 20px; // 和下一个元素之间的间隙


}
.input-wrapper {
  margin-bottom: 10px;

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .input-field {
    width: 100%;
    // 其他样式...
  }
}

.modal-input-section {
  display: flex;
  flex-direction: column;
  gap: 10px; // 为输入框之间添加间隔

  .input-field {
    max-width: 300px; // 限制输入框的最大宽度
  }
}



.store-setup {
  display: flex;
  flex-direction: column; /* 主轴方向为垂直 */
  margin-top: 3rem;
  margin-left: 10rem;
  

}

.content-wrapper {
  display: flex;
  flex-direction: row; /* 主轴方向为水平 */
  justify-content: space-between; /* 子项之间有间隔 */
  gap: 30px; /* 子项之间的间隔，根据需要调整 */
  padding: 20px; /* 给最外层容器添加一些内边距 */
}

.online-report-section,
.qr-order-section {
  flex: 1; /* 两个部分平均分配空间 */
  text-align: left; /* 文本靠左对齐 */
  padding: 20px; /* 增加内边距 */
  margin: 10px; /* 与其他元素的间隔 */
  background-color: #fff; /* 设置背景颜色为白色 */
  border: 1px solid #ddd; /* 添加边框 */
  border-radius: 10px; /* 边框圆角 */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 添加阴影效果 */
  overflow: hidden; /* 防止内容溢出 */
  position: relative;
  padding-bottom: 100px;
}
/* 如果 .online-report-section 不存在，.qr-order-section 占据全部宽度 */
.content-wrapper :only-child {
  flex: 0 0 50%; /* 不让其成长或收缩，宽度为容器的50% */
}
.form-row {
  display: flex;
  align-items: center; /* 垂直居中对齐标签和输入框 */
  margin-bottom: 10px; /* 行与行之间的间距 */
}

.form-row label {
  margin-right: 10px; /* 标签和输入框之间的间隔 */
}

.search-input {
  width: 100%; /* 输入框宽度自动填充 */
  max-width: 300px; /* 所有输入框的最大宽度，这个值应该基于最宽的输入框调整 */
}
.edit-store-submit-button {
  display: block;
  margin-top: 6px;
  margin-bottom: 10px;
  font-weight: bold;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 1vw;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #61b3f7;
  box-shadow: 0 0 4px #999;
  outline: none;
  border-radius: var(--border-radius-1);
  width: 300px;
  margin-left: auto;
  margin-right: auto;


}
.qr-button {
  display: block;
  margin-top: 6px;
  margin-bottom: 10px;
  font-weight: bold;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 1vw;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #61b3f7;
  box-shadow: 0 0 4px #999;
  outline: none;
  border-radius: var(--border-radius-1);
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.delete-onlineReport-button{
  display: block;
  margin-top: 6px;
  margin-bottom: 10px;
  font-weight: bold;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 1vw;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #ff7782;
  box-shadow: 0 0 4px #999;
  outline: none;
  border-radius: var(--border-radius-1);
  width: 140px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  
  position: absolute;
  bottom: 40px; 
  left: 50%; 
  transform: translateX(-50%); 
}



.edit-store-form {
    margin-bottom: 20px;
  }

  .date-picker {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .related-users {
    margin-top: 20px;
  }
  
  .user-box {
    width: 80%;

    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-id {
    margin-right: 10px;
  }
  
  .user-email {
    font-weight: bold;
  }
  
  .delete-button {
    font-size: 11px;
    background-color: #ff4d4f;
    color: #fff;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .delete-button:hover {
    background-color: #ff7875;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
  }
  .search-input, .user-select {
    border: 1px solid #ccc;
    padding: 8px;
    margin: 5px 0;
    border-radius: 4px;
  }
  .edit-store-form label {
    display: block;
    margin-bottom: 15px;
  }
  

  .edit-store-form{
    text-align: left;
    display: block;
  }
  
  .date-picker {
    // padding: 8px !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
  }
  
  
  